@model PagedList.IPagedList<WebNoiThat.Models.NoiThat>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Danh sách sản phẩm";
    Layout = "~/Views/Shared/_layout3.cshtml";
}
<div id="addsense_Model">
    <div style="text-align: center; height: 75%;">
        <img id="click_image" />
    </div>
    <div style="text-align: center; font-size: 30px;">
        <img src="~/Content/images/banner1.jpg" width="1200px" height="300px" />
    </div>

</div>
<li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <h4 style="color:red">DANH MỤC SẢN PHẨM</h4>
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="@Url.Action("Phanloai", "NoiThat",new { @id = 1})">Nội thất phòng khách</a></li>
                    <li><a class="dropdown-item" href="@Url.Action("Phanloai2", "NoiThat",new { @id = 2})">Nội thất phòng ngủ</a></li>
                    <li><a class="dropdown-item" href="@Url.Action("Phanloai3", "NoiThat",new { @id = 3})">Nội thất phòng bếp</a></li>
                </ul>
<h2>NỘI THẤT</h2>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel panel-heading">
                    @item.tennoithat
                </div>
                <div class="panel-body">
                    <p><strong>Giá: </strong>@item.giaban</p>
                    <p><strong>Ngày cập nhật: </strong>@item.ngaycapnhat</p>
                    <p><strong>Số lượng tồn: </strong>@item.soluongton</p>
                    <p><img src="@item.hinh" alt="hinh thumnail" width="200px" height="250px"></p>
                </div>
                <div class="panel-footer clearfix">
                    <div class="pull-right">
                        
                        @Html.ActionLink("Read more...", "Detail1","NoiThat", new
                        {
                            id =
                        item.manoithat
                        }, new { @class = "btn btn-default" })
                        <div class="DatMua">
                            <a class="btn btn-success" href="@Url.Action("ThemGioHang", "GioHang",
                                 new { @id = item.manoithat, @strURL = Request.Url.ToString() })">Đặt mua</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<div>
    <div>
        Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) /
        @Model.PageCount
    </div>
    <div class="MenuTrang">
        @Html.PagedListPager(Model, page => Url.Action("ListAfterLogin2", new
        {
            page = page
        }))
    </div>
</div>
<style>
    .MenuTrang li {
        display: inline;
    }
</style>
<style type="text/css">
    #mau-nut a {
        clear: both;
        background-color: orange;
        color: snow;
    }

        #mau-nut a:hover {
            background-color: darkcyan;
            color: snow;
        }
</style>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
    $(document).ready(function () {
        var maxLength = 100;
        $(".show-read-more").each(function () {
            var myStr = $(this).text();
            if ($.trim(myStr).length > maxLength) {
                var newStr = myStr.substring(0, maxLength);
                var removedStr = myStr.substring(maxLength, $.trim(myStr).length);
                $(this).empty().html(newStr);

                $(this).append(' <a href="javascript:void(0);" class="read-more">đọc tiếp...</a>');
                $(this).append('<span class="more-text">' + removedStr + '</span>');
            }
        });
        $(".read-more").click(function () {
            $(this).siblings(".more-text").contents().unwrap();
            $(this).remove();
        });
    });
</script>
<style>
    .show-read-more .more-text {
        display: none;
    }
</style>
</style>

